// font-family: "Noto Sans JP", sans-serif;
// font-family: "Shippori Mincho B1", serif;
@import "./_variables.scss";

// コンポーネント
.button {
  position: relative;
  width: 121px;
  height: 40px;
  font-size: $font-size-m;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 8px;
  color: $font-light;
  background-color: $bg-button;
  :hover {
    background-color: $bg-button-hover;
  }

  @media screen and (min-width: $breakpoint) {
    width: 180px;
    height: 48px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

// レスポンシブ
.sp-only {
  display: none;
  @media screen and (max-width: $breakpoint) {
    display: block;
  }
}

.pc-only {
  display: block;
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

.header {
  background-color: $bg-light;

  .header__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__button {
    margin-right: 18px;
  }
}

.kv {
  background-color: $bg-light;
  .kv__inner {
    padding: 40px 0 24px;
    .kv__img {
      width: 226px;
      height: 195px;

      display: block;
      margin: 0 auto;
    }
    .kv__text {
      color: $font-base;
      font-weight: $font-weight-bold;

      .kv__title {
        margin-top: 32px;
        font-size: 30px;
        line-height: 1.5;
      }
      .kv__list {
        margin: 16px 0 24px;
        .kv__list-item {
          margin-top: 6px;
          list-style: none;
          font-size: $font-size-l;
          line-height: 1.75;
        }
      }
      .kv__button {
        font-weight: $font-weight-bold;
        width: 180px;
        height: 48px;
        font-size: $font-size-l;

        .arrow {
          position: absolute;
          top: 16px;
          right: 10.8px;
        }
      }
    }
  }
}
