// font-family: "Noto Sans JP", sans-serif;
// font-family: "Shippori Mincho B1", serif;
@import "./_variables.scss";

// コンポーネント
.button {
  position: relative;
  width: 121px;
  height: 40px;
  font-size: $font-size-m;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 8px;
  color: $font-light;
  background-color: $bg-button;
  &:hover {
    background-color: $bg-button-hover;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width-lg;
}

li {
  list-style: none;
}

// レスポンシブ
.sp-only {
  display: none;
  @media screen and (max-width: $breakpoint) {
    display: block;
  }
}

.pc-only {
  display: block;
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

// header
.header {
  background-color: $bg-light;

  .header__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__button {
      margin-right: 18px;
      @media screen and (min-width: $breakpoint) {
        margin: 0;
      }
    }
  }
}
// kv

.kv {
  background-color: $bg-light;

  .kv__inner {
    padding: 40px 0 24px;

    @media screen and (min-width: $breakpoint) {
      display: flex;
      flex-direction: row-reverse;
      gap: 160px;
      padding: 100px;
      padding-bottom: 0;
    }

    .kv__img {
      width: 226px;
      height: 195px;
      display: block;
      margin: 0 auto;
      @media screen and (min-width: $breakpoint) {
        width: 540px;
        height: 465px;
        transform: translateY(-50px);
      }
    }

    .kv__text {
      color: $font-base;
      font-weight: $font-weight-bold;
      @media screen and (min-width: $breakpoint) {
        width: 379px;
        height: 327px;
      }

      .kv__title {
        margin-top: 32px;
        font-size: 30px;
        line-height: 1.5;

        @media screen and (min-width: $breakpoint) {
          font-size: 38px;
        }
      }

      .kv__list {
        margin: 16px 0 24px;
        @media screen and (min-width: $breakpoint) {
          margin: 24px 0 32px;
        }

        .kv__list-item {
          margin-top: 6px;
          font-size: $font-size-l;
          line-height: 1.75;
          @media screen and (min-width: $breakpoint) {
            font-size: $font-size-xl;
          }
        }
      }

      .kv__button {
        font-weight: $font-weight-bold;
        width: 180px;
        height: 48px;
        font-size: $font-size-l;

        .arrow {
          position: absolute;
          top: 16px;
          right: 10.8px;
        }
      }
    }
  }

  .kv__wave {
    background-color: $bg-base;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.feature {
  .feature__inner {
    color: $font-base;
    margin: 64px auto 0;
    text-align: center;

    @media screen and (min-width: $breakpoint) {
      margin: 80px auto;
    }

    .feature__title {
      padding-bottom: 8px;
      font-size: $font-size-xxxl;
      font-weight: $font-weight-bold;

      @media screen and (min-width: $breakpoint) {
        font-size: 32px;
      }
    }

    .feature__list {
      @media screen and (min-width: $breakpoint) {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-top: 80px;
      }
      .feature__item {
        margin: 40px auto 0;
        max-width: 280px;

        @media screen and (min-width: $breakpoint) {
          max-width: 344px;
          margin: 0;
        }

        .feature__list-icon-wrap {
          border-radius: 30px;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          background-color: $icon-light;

          .feature__list-icon {
            border: 50%;
            margin: 0 auto;
          }
        }

        .feature__list-title {
          margin: 16px 0;
          font-size: $font-size-xl;
          font-weight: $font-weight-bold;
          line-height: 155.556%;

          @media screen and (min-width: $breakpoint) {
            font-size: 22px;
          }
        }
        .feature__list-text {
          font-size: $font-size-m;
          font-weight: $font-weight-base;
          line-height: 171.429%;

          @media screen and (min-width: $breakpoint) {
            font-size: $font-size-l;
            line-height: 1.75;
          }
        }
      }
    }
  }
}

.function {
  background-color: $bg-dark;
  .function__wave {
    background-color: $bg-base;
    .function__wave-img {
      transform: translateY(2px);
      background-color: $bg-base;
    }
    .function__wave-img-bottom {
      transform: translateY(-2px);
    }
  }
  .function__inner {
    color: $font-light;
    padding: 40px 0;

    .function__title {
      text-align: center;
      font-size: $font-size-xxxl;
      font-weight: $font-weight-bold;
    }

    .function__list {
      .function__item {
        margin-top: 43px;
        .function__list-img-wrap {
          text-align: center;
          .function__list-img {
            width: 100%;
          }
        }

        .function__list-title {
          margin: 16px 0 8px;
          font-size: $font-size-xl;
          font-weight: $font-weight-bold;
          line-height: 155.556%;
        }

        .function__list-text {
          font-size: $font-size-m;
          font-weight: $font-weight-base;
          line-height: 171.429%;
        }
      }
    }
  }
}

// footer
.footer {
  padding: 40px 0 24px;
  margin: 0 auto;
  text-align: center;
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .footer__link {
      text-decoration: none;
      color: $font-base;
    }
  }
  .footer__copy-right {
    padding-top: 16px;
    color: $font-base;
  }
}
