// font-family: "Noto Sans JP", sans-serif;
// font-family: "Shippori Mincho B1", serif;
@import "./_variables.scss";

// コンポーネント
.button {
  width: 121px;
  height: 40px;
  font-size: $font-size-m;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 8px;
  color: $font-light;
  background-color: $bg-button;
  :hover {
    background-color: $bg-button-hover;
  }

  @media screen and (min-width: $breakpoint) {
    width: 180px;
    height: 48px;
  }
}

.container {
  max-width: $max-width;
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: $bg-light;

  .header__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
